

.principal{

  width: 100%;
  margin: 0px;
  font-family: sans-serif;
  color: #444;
  overflow: hidden;
}

.cabecalho{
  height: 100px;
}

.logo-cabecalho{
  float: left;
}
.logo-cabecalho a{
	font-size:50px;
	font-style:italic;
	text-decoration:none;
	color:#741b75;
	display:block;
	padding:20px 0 0 0;
  margin-left: 10px;
}

.Pesquisa{

  float: right;
  margin-left: 900px;
  margin-top: -30px;
}

.cadastro{

  float: right;
  margin-top: 40px;
  margin-right: 40px;
}

.menu{
  background: #741b75;
}

.menu ul li,
.menu ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.menu ul li{
  display: inline-block;
}

.menu ul li a{
  display: block;
  color: #fff;
  padding: 13px 20px;
  text-decoration: none;

 
}

.form-header{
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
}

.au-btn-submit{
  position:relative;
  right:0;
  min-width:100px;
  color:#fff;
  border:1px solid #205b8d;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:43px;
  background:#020202;

}

.au-btn-submit:hover{
  background:#f9faff;
  color: #741b75;
}

.au-btn-submit>i{
  font-size:20px;
  color:#fff;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.au-input-xl{
  min-width:50px;
}

input.au-input.au-input-xl{
  border-radius:40px!important;
  margin-right:15px;
  
}

.home-fundo{
  background-size: cover;
  height: 100px;
  width: 100px;
}

.corpo{
  position: relative;
  overflow: hidden;
}
.artigos, .artigos::before{
  width: 100%;
}
.artigos::before{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: #fff;
  z-index: -1;
  content: '';
}
.rodape{
  background-color:#741B75;
  height: 100px;
  
}
.rodape ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
}


.rodape ul li{
  display: inline-block;
}
.rodape ul li a{
  display: block;
  color: #fff;
  padding: 13px 20px;
  text-decoration: none;
  
}
.criador{
  text-align: center;
  color: #fff;
  display: block;
  padding-bottom: 5px;
}

.servicos {
background: #fff;
display: flex;

}

.servicos .box{
  padding: 45px 20px 20px 20px;
  border-radius: 3px;
  background: #fff;
  display: inline-block;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: calc(100% + 32px);
  margin: 30px;
  
  
}
.servicos .box .box-content{
  background: #d6d4d4;
  width: 270px;
  height: 251px;
  height: auto;
  border-color: #e1e1e1;
  padding: 16px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;

}
.servicos .box .box-content .titulo{
  border: medium none;
  padding: 0;
  position: relative;
  margin: 0 0 16px 0;
  clear: none;
  overflow: hidden;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  color: #741B75;
}

.servicos .box-content p, li,a{
    text-decoration: none;
    text-align: justify;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin: 0%;
}